[submodule "pubic"]
	path = pubic
	url = https://github.com/Musalinux/Musalinux.github.io.git
	branch = main
[submodule "newmodule"]
	path = newmodule
	url = https://github.com/Musalinux/Musalinux.github.io.git
	branch = main
